doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')

    title #{page.meta.title} | #{site.config.apex}

    link(href='/s/css/styles.css', rel='stylesheet')

  body

    h1= page.meta.title

    block content

    footer
      p Powered by
        |
        |
        a(href="https://nebulous-cms.org/") Nebulous CMS
        | . &copy;
        |
        |
        a(href="https://nebulous.design/") Nebulous Design
        |
        | 2018.
